NUXT_SESSION_PASSWORD=change-me-in-production-min-32-characters-long
DATABASE_URL=postgresql://nuxt_dev:nuxt_dev@localhost:5432/nuxt_dev

# Root user (created on first run if not exists)
ROOT_EMAIL=root@admin.com
ROOT_PASSWORD=admin123456
